#header {
  justify-content: center;
  align-items: center;
  margin: 15;
  display: flex;
}

input {
  width: 100%;
}

.inputlbl h5 {
  margin-bottom: 5px;
}

.inputlbl input {
  margin-bottom: 10px;
}

.tableStyle {
  margin-top: 15px;
}